@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, rgba(155, 248, 244, 1) 0%, rgba(111, 123, 247, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #111;
}

.container {
    width: 400px;
    min-height: 400px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    padding: 40px 30px;
    position: relative;
}
 
.container-logout {
    width: 500px;
    min-height: 200px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    padding: 40px 30px;
}
 
h1 {
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
}

.back-link {
    position: absolute;
    top: 20px;
    left: 20px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}
 
.input-group {
    width: 100%;
    margin-bottom: 25px;
}
 
.input-group input {
    width: 100%;
    height: 50px;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}
 
.input-group input:focus, .input-group input:valid {
    border-color: #007ea6;
}
 
.input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #007ea6;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}
 
.input-group .btn:hover {
    transform: translateY(-5px);
    background: #005874;
}
 
.login-text{
    margin-bottom: .8rem;
    text-align: center;
}

.login-register-text, .login-register-text p {
    color: #111;
    font-weight: 600;
    text-decoration: none;
}
 
.login-register-text p {
    color: #007ea6;
}

.login-register-text a {
    color: #007ea6;
}
 
@media (max-width: 430px) {
    .container {
        width: 300px;
    }
}